services:
  database:
    image: postgres:16
    container_name: face_reg_quiz
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - /home/docker-data/postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8085:80"
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - /home/docker-data/pgadmin_data:/var/lib/pgadmin

  app:
    build: .
    container_name: face_test_app
    # restart: unless-stopped  # Changed from 'always'
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
      PYTHONUNBUFFERED: 1
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./app/uploads:/app/app/uploads
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"] # Adjust endpoint
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  gateway:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

volumes:
  postgres_data:
  pgadmin_data: